{if="$drawMenu[18]['PERMISSAO_VISUALIZAR']== 'SIM'"}
<div class="content">

    <div class="col-md-12">
      <form role="form" action="/admin/manutencao/create" method="post">
        <input type="hidden" id="ID_MANUTENCE" name="ID_MANUTENCE" value = "{$ID_MANUTENCE}">
        <!-- card personal data -->
        <div class="card">
          <div class="card-header card-header-primary card-header-icon">
            <div class="card-icon">
              <i class="material-icons">perm_identity</i>
            </div>
            <h4 class="card-title">Dados
            </h4>
          </div>
          <div class="card-body">            
            <!-- first line -->
            <div class="row">
                <!-- Dates -->
                <div class="col-md-2">
                    <div class="form-group bmd-form-group">
                        Data Início
                        <input
                        id      ="DATE_MANUTENCE_START"
                        name    ="DATE_MANUTENCE_START"
                        type    ="text"
                        class   ="form-control maskData"
                        value   = {function="convertDatasHorasBR($manutencaoCavalo.DATE_MANUTENCE_START)"}                        
                        required="true"
                        >
                      </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group bmd-form-group">
                      Data Fim
                      <input
                      id      ="DATE_MANUTENCE_FINISH"
                      name    ="DATE_MANUTENCE_FINISH"
                      type    ="text"
                      class   ="form-control maskData"
                      value   = {function="convertDatasHorasBR($manutencaoCavalo.DATE_MANUTENCE_FINISH)"}
                      >
                    </div>
              </div>
              <div class="col-md-4">
                <div class="form-group bmd-form-group">
                    Cavalo
                    <select
                      class="form-control selectpicker"
                      data-style="btn btn-link"
                      id="COD_VEICULO"
                      name="COD_VEICULO"
                      required
                      >
                      <option value ="">Selecione o veículo</option>
                      {loop="$listaVeiculos"}

                        {if="$value.COD_VEICULO == $manutencaoCavalo.COD_VEICULO"}
                          <option value="{$value.COD_VEICULO}" selected>{$value.PLACA} - {$value.FABRICANTE} - {$value.MODELO}</option>
                        {else}
                          <option value="{$value.COD_VEICULO}">{$value.PLACA} - {$value.FABRICANTE} - {$value.MODELO}</option>
                        {/if}

                      {/loop}

                    </select>
                </div>
              </div>
              <div class="form-group col-md-2">
                Tipo de Manutenção
                <select
                  class="form-control selectpicker"
                  data-style="btn btn-link"
                  id="TIPO_MANUTENCAO"
                  name="TIPO_MANUTENCAO"
                  required="true"
                  >
                  <option value ="">Tipo de manutenção...</option>
                  {if="$manutencaoCavalo.TIPO_MANUTENCAO == 'CORRETIVA'"}
                    <option value="CORRETIVA" selected>CORRETIVA</option>
                    <option value="PREVENTIVA">PREVENTIVA</option>
                  {else}
                    <option value="PREVENTIVA" selected>PREVENTIVA</option>
                    <option value="CORRETIVA">CORRETIVA</option>
                  {/if}
                </select>
              </div>
              <div class="col-md-2">
                <div class="form-group bmd-form-group">
                    KM Atual
                    <input
                    id      ="KM_ATUAL"
                    name    ="KM_ATUAL"
                    type    ="text"
                    class   ="form-control inputNumber"
                    required="true"
                    value   = "{$manutencaoCavalo.KM_ATUAL}"
                    >
                  </div>
              </div>
            </div><!-- close row -->
            <div class="row"><!-- open row -->
              <div class="col-md-8">
                <div class="form-group bmd-form-group">
                    Estabelecimento
                    <input
                    id      ="LOCAL_MANUTENCAO"
                    name    ="LOCAL_MANUTENCAO"
                    type    ="text"
                    class   ="form-control"
                    value   = "{$manutencaoCavalo.LOCAL_MANUTENCAO}"
                    required="true"
                    >
                  </div>
              </div>
              <div class="col-md-4">
                <div class="form-group bmd-form-group">
                    Mecânico Responsável
                    <input
                    id      ="MECANICO_RESPONSAVEL"
                    name    ="MECANICO_RESPONSAVEL"
                    type    ="text"
                    class   ="form-control"
                    required="true"
                    value   = "{$manutencaoCavalo.MECANICO_RESPONSAVEL}"
                    >
                  </div>
              </div>             
            </div><!-- close row -->
          </div>
          <br>
        </div>

        <!-- card de cadastro de Observações -->
        <div class="card">
          <div class="card-header card-header-primary card-header-icon">
            <div class="card-icon">
              <i class="material-icons">attach_money</i>
            </div>
            <h4 class="card-title">Descrição da Manutenção
            </h4>
          </div>
          <div class="card-body">            
            <!-- card de cadastro de valores -->
            <div class="row">
              <div class="form-group col-md-3">
                <label for="STATUS">Status</label>
                <select
                  class="form-control selectpicker"
                  data-style="btn btn-link"
                  id="STATUS"
                  name="STATUS"
                  required="true"
                  >
                  <option value ="">Status da Manutenção...</option>
                  {if="$manutencaoCavalo.STATUS == 'Em Aberto'"}
                    <option value="Em Aberto" selected>Em Aberto</option>
                    <option value="Concluído">Concluído</option>
                  {else}
                    <option value="Em Aberto">Em Aberto</option>
                    <option value="Concluído" selected>Concluído</option>
                  {/if}
                </select>
              </div>

          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Descrição</label>
                <div class="form-group bmd-form-group">
                  <label class="bmd-label-floating"></label>
                  <textarea id="DESCRICAO_SERVICO" name="DESCRICAO_SERVICO" class="form-control" rows="5">{$manutencaoCavalo.DESCRICAO_SERVICO}</textarea>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
              <!-- button back -->
              <div class="col-md-6 text-left">
                <a class="btn" href="/admin/manutencao">
                  <i class="material-icons">undo</i>
                  <span class="sidebar-normal"> Voltar a lista de manutenções</span>
                </a>
              </div>
              <!-- button save -->
              <div class="col-md-6 text-right">
                <button class="btn btn-success pull-right">
                  <span class="btn-label">
                    <i class="material-icons">check</i>
                  </span>
                  Salvar
                </button>                     
                <a href="/admin/manutencao/{$ID_MANUTENCE}/item" class="btn btn-large btn-warning">
                  <i class="material-icons">assignment</i>&nbsp; Incluir Ítens
                </a>
              </div>
            </div>  
            </div>                       
          </div>
          <br>
        </div>
      </form>
    </div>
  
  </div>
  {else}
  <div class="alert alert-danger" role="alert">
    <h3>Ops! Seu perfil não tem acesso a esta funcionalidade!</h3>
  </div>
{/if}
  
  